<!DOCTYPE html>
<html>

<head>
    <title>肝癌报告查询</title>
    <link rel="stylesheet" type="text/css" href="/public/css/checkreport.css" />
    <script type="text/javascript" src="/public/js/query-3.5.1.min.js"></script>
</head>

<body>
    <div id="container">
        <div style="background:url('/public/img/01.jpg') no-repeat;width:100%;height:700px">
            <div style="padding-top: 339px;text-align: center;color: #ffffff;">
                <div style="font-size: 77px; ">肝癌报告查询</div>
                <div style="font-size: 34px;padding-top: 23px;">方便 &nbsp;快捷&nbsp; 安全</div>
            </div>
        </div>
        <div id="content" style=" padding: 50px;">cauwu
            <p style="color:#1a88c7;font-size: 34px;text-align: center;">为保护您的隐私，请输入样本编码或身份证号查询报告</p>
            <div style="text-align: center;margin: 45px;">
                <input type="text" id="sampNumber" name="sampNumber" value="" placeholder="请填写样本编号"></input>
            </div>
            <div style="text-align: center;margin: 45px;">
                <input type="text" id="idNumber" name="idNumber" value="" placeholder="请填写身份证号"></input>
            </div>
            <div style="height: 23px;width: 100%;"></div>
            <div style="text-align: center;margin: 45px;">
                <input id="search" type="button" value="查询">
            </div>
            <p  style="color:#9c9c9c;font-size: 23px;text-align: center;">
                检查报告涉及个人隐私，为了确保您的隐私安全，仅限本人查询，查询后请妥善保管您的报告。
            </p>

        </div>

        <script>

        </script>
</body>

</html>