<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>客户信息登记表</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" media="screen and (min-width:600px) and (max-width:1920px)"
        href="/public/css/userformpc.css" />
    <link rel="stylesheet" media="screen and (min-width:320px) and (max-width:600px)"
        href="/public/css/userformphone.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/userformpc.css" /> -->
    <script type="text/javascript" src="/public/js/query-3.5.1.min.js"></script>
    <script type="text/javascript" src="/public/js/getidinfo.js"></script>
    <script type="text/javascript" src="/public/js/jquery.validate.min.js"></script>

</head>

<body>
    <div id="container">
        <div id="header">
            <div id="title">客户信息登记表</div>
            <div id="title-sub1">(填表前请查看重要提示)</div>
            <div id="title-sub2">以下为客户信息，请认真填写</div>
        </div>
        <form class="userform" id="userform" name="userform" method="GET" action="<%=locals.url%>:3000/userForm">
            <input type="hidden" whichOpenid="openid">
            <input type="hidden" whichid="dbid">
            <div id="content">
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label for="sampleid">样本编码:</label>
                        <input type="text" id="sampleid" name="sampleid" value="" placeholder="公司服务人员填写"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label><span style="color:red;">* </span>姓名:</label>
                        <input type="text" id="name" name="name" value placeholder="请输入" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label><span style="color:red;">* </span>身份证号:</label>
                        <input type="text" id="identity" name="identity" value="" onblur="getInfo()" placeholder="请输入"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>年龄:</label>
                        <input type="number" id="txtAge" name="txtAge" value=""></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>性别:</label>
                        <input type="text" id="txtSex" name="txtSex" value=""></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="wrap">
                    <label>出生日期:</label>
                    <input type="text" id="txtBirth" name="txtBirth" value=""></input>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>民族:</label>
                        <input type="text" id="ethnic" name="ethnic" value="" placeholder="请输入"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>是否饮酒:</label>
                    <input type="radio" name="drink" value="more_than_5years">一直持续</input>
                    <input type="radio" name="drink" value="clean">已戒酒</input>
                    <input type="radio" name="drink" value="never_drink">从未饮酒</input>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>是否吸烟:</label>
                    <input type="radio" name="smoke" value="more_than_5years">一直持续</input>
                    <input type="radio" name="smoke" value="clean">已戒烟</input>
                    <input type="radio" name="smoke" value="never_drink">从未吸烟</input>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>乙肝:</label>
                    <input type="radio" name="hepatitis B" value="positive">阳性</input>
                    <input type="radio" name="hepatitis B" value="negative">阴性</input>
                </div>
                <p class="grey-line"></p>
                <div class="wrap">
                    <label>乙肝检查结果:</label>
                    <span>（请上传附件）</span>

                </div>
                <p class="grey-line"></p>
                <div>
                    <label>丙肝:</label>
                    <input type="radio" name="hepatitis C" value="positive">阳性</input>
                    <input type="radio" name="hepatitis C" value="negative">阴性</input>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>肝硬化:</label>
                    <input type="radio" name="liverCirrhosis" value="yes">有</input>
                    <input type="radio" name="liverCirrhosis" value="no">无</input>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>其它肝类疾病:</label>
                    <div>
                        <input type="radio" name="others" value="yes">有</input>
                        <input type="text" name="othersLivercancer" value="" placeholder="请输入">
                    </div>
                    <input type="radio" name="others" value="no">无</input>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>肝癌家族史:</label>
                    <input type="radio" name="history" value="yes">有</input>
                    <input type="radio" name="history" value="no">无</input>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label><span style="color:red;">* </span>常驻地址:</label>
                        <input type="text" id="address" name="address" value="" placeholder="请输入"
                            required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label><span style="color:red;">* </span>手机号码:</label>
                        <input type="tel" id="tel" name="tel" value="" placeholder="请输入" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>邮箱:</label>
                        <input type="email" id="email" name="email" value="" placeholder="请输入"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div>
                    <label>备注:</label>
                    <div style="width: 100%;height: 12px;"></div>
                    <textarea style="width: 100%;height: 45px;" type="text" id="note" name="note" value=""
                        placeholder="请输入"></textarea>
                </div>
                <p>本表填写信息真实有效，<span style="color: red;">*号为必填项，</span>经核实准确无误后方可提交！</p>
                <div>重要提示</div>
                <p>请您完整填写以上内容并确保信息真实有效，方便我们建立您的信息档案，（如不慎填写错误请与客服联系！）</p>
            </div>
            <div style="width: 100%;height: 23px;"></div>
            <div style="text-align: center;">
                <input id="submit" type="submit" style="display: block;" value="提交">
            </div>
            <div style="width: 100%;height: 100px;"></div>
        </form>
        <script type="text/javascript" src="/public/js/validator_zh.js"></script>
        <script>
            $("input[type=radio]").change(function () {
                if ($(this).attr('checked', true)) {
                    $(this).siblings("input[type=radio]").attr('checked', false)
                }
            })
           
        </script>
</body>

</html>