body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container{width: 90%;height: auto;margin: 0 auto;}
p{margin-top:34px ;margin-bottom: 34px;}
h1{text-align: center;margin-bottom: 23px;}
label{
  font-size: 18px;
}
input{
  outline-style: none ;
  border: none; 
  border-radius: 10px;
  text-align: left;
  width: 36%;
  font-size: 16px;
  font-family: "Microsoft soft";}
  #button{
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #1a88c7;
    line-height: 6px;
    text-align: center;
    border-radius: 10px;
    color: white;
  }
  #sign-name{font-size: 14px;
  }
  #sign-date{font-size: 14px;
  }